@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&family=Varela+Round&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: "Varela Round", ui-sans-serif, system-ui, sans-serif;
  --font-display: "Fredoka", ui-sans-serif, system-ui, sans-serif;
}

body {
  font-family: var(--font-sans);
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-display);
}
